<div>
	<div class = 'error'>
		<p><%=flash[:errors]%></p>
	</div>
	<form action="/users/create" method = 'post'>
		 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<label for="first_name">first_name</label>
		<br>	
		<input type="text" name = 'user[first_name]'>
		<br>
		<label for="last_name">last_name</label>
		<br>	
		<input type="text" name = 'user[last_name]'>
		<br>
		<label for="email">email</label>
		<br>	
		<input type="text" name = 'user[email_address]'>
		<br>
		<label for="password">password</label>
		<br>	
		<input type="text" name = 'user[password]'>
		<br>
		<input type="submit" value = 'Create'>
		<br>
		<a href="/users/index">Back</a>
	</form>
</div>